version https://git-lfs.github.com/spec/v1
oid sha256:46d8ed0ed769eeb28bd01c50addb93ea57c66770eeea39e6bf62348b006b9cab
size 2692
third_party/lib/assimp-vc143-mtd.lib filter=lfs diff=lfs merge=lfs -text
